$accent-color: rgb(92, 178, 97);
$disabled-color:rgb(100, 100, 100);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex($direction, $jc, $ai){
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: wrap;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(245, 214, 243);
}

#root{
  // width: 100%;
  margin: 0 auto;
  padding: 2em;
}

section {
  background-color: white;
  border-radius: 20px;
  width:100%;
  max-width: 1280px;
  min-height: 50vh;
  padding: 1.5rem;
  box-shadow:5px 14px 29px -10px rgba(0,0,0,0.75);
  margin: 0 auto;
}

h1 {
  font-size: 1.7em;
  line-height: 1.1;
  margin-bottom: 1em;
}

.addButton{
  padding-inline: 0.6em;
  padding-block: 0.3em;
  background-color: $accent-color;
  border-radius: 10px;
  color:#fff;
  font-weight: 500;
  transition: background-color ease 0.5s;
  &:hover{
    background-color: rgb(90, 146, 93);
  }
}

.goBack{
  display: block;
  font-weight: 300;
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 1em;
  &:hover{
    text-decoration: underline;
  }
}


@media (max-width: 735px){
  tr.task {
    &:first-child{
      display: none;
    }
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-bottom: 1em;
  }
  .task{  
    &-check,
    &-delete {
      align-self: flex-end;
    }
    
    &-title {
      margin-bottom: 0.5em;
    }
    
    &-description {
      text-align: center;
      white-space: normal;
      overflow: visible;
      text-overflow: unset;
      margin-bottom: 0.5em;
    }
  }
}
@media (max-width:885px ) {
  :root {
    font-size:12px;
  }
}