$accent-color: rgb(92, 178, 97);
$disabled-color:rgb(100, 100, 100);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex($direction, $jc, $ai){
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: wrap;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  background-color: wheat;
}

#root{
  // width: 100%;
  margin: 0 auto;
  padding: 2em;
}

section {
  background-color: white;
  border-radius: 20px;
  width:100%;
  max-width: 1280px;
  min-height: 50vh;
  padding: 1.5rem;
  box-shadow:5px 14px 29px -10px rgba(0,0,0,0.75);
}

h1 {
  font-size: 1.7em;
  line-height: 1.1;
  margin-bottom: 1em;
}

.addButton{
  padding-inline: 0.6em;
  padding-block: 0.3em;
  background-color: $accent-color;
  border-radius: 10px;
  color:#fff;
  font-weight: 500;
  transition: background-color ease 0.5s;
  &:hover{
    background-color: rgb(90, 146, 93);
  }
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;

//   &:hover {
//     border-color: #646cff;
//   }

//   &:focus,
//   &:focus-visible {
//     outline: 4px auto -webkit-focus-ring-color;
//   }
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }

@media (max-width:735px ) {
  :root {
    font-size:12px;
  }
}
